* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    border: 2px solid black;
}
body {
    font-family: 'Chivo Mono', monospace;
}
.logo {
    width: 184px;
    height: 60px;
    left: 0px;
    top: 0px;
}
nav ul {
    list-style: none;
    display: flex;
    min-width: 550px;
    justify-content: space-between;
}
header {
    background-color: #743939;
    min-height: 100vh;
}
.header_top {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    min-height: 60px;
    align-items: center;
}
nav ul li a {
    color: #FAFAFA;
    text-decoration: none;
    font-size: 13px;
}
nav ul li a:hover {
    border-bottom: 2px solid #F1CDB3;
    color: #F1CDB3;
}
.header_info {
    font-family: 'Chivo Mono', monospace;
    color: #F1CDB3;
    background-image: url(../img/start-screen-puppy.png);
    min-height: 80vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}
.header_info h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    align-items: center;
    color: #F1CDB3;
    max-width: 400px;
    padding-top: 235px;
}
.header_info p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    align-items: center;
    color: #F1CDB3;
    max-width: 625px;
    padding-top: 48px;
}
.header_info button {
    padding: 15px 45px;
    margin-top: 48px;
    margin-bottom: 235px;
    border-radius: 100px;
    border: none;
    background-color: #F1CDB3;
}
.header_info button:hover {
    background-color: #231e36;
    color: #ffffff;
}
